<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.rules.studio.decisionservice.launching.DecisionOperation">
<stringAttribute key="com.ibm.rules.studio.decisionservice.ui.OPERATION_PATH" value="/FinancialAnalysis/deployment/Simple Age Check.dop"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_SIGN">
<mapEntry key="age" value="function java.lang.Integer get_age_value()"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_VALUES">
<mapEntry key="age" value="return 35;"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_NAMES">
<mapEntry key="age" value="age"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_SIMPLE_VALUES">
<mapEntry key="age" value="35"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_TYPES">
<mapEntry key="age" value="1"/>
</mapAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FinancialAnalysis"/>
<listEntry value="/FinancialAnalysis"/>
<listEntry value="/FinancialAnalysis/deployment/Simple Age Check.dop"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FinancialAnalysis"/>
</launchConfiguration>